header{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}
main{
    padding-top: 120px;
}
#about{
    padding-top: 100px;
}
#contact{
    padding-top: 100px;
}
#OurOfferings{
    padding-top: 100px;
}
#faq{
    padding-top: 100px;
}