header{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: #FAF3E0;
}
#first{
    padding-top: 185px;
}
#second{
    padding-top: 185px;
}
#third{
    padding-top: 185px;
}
#fourth{
    padding-top: 185px;
}
#fifth{
    padding-top: 185px;
}
#sixth{
    padding-top: 185px;
}
